main .post .thumbnail{
    height: 20vh;
    width: auto;
    border-top-left-radius: 20px;
}

.post{
    display: block;
    margin: 10px 10%;
    height: 100%;
    width: auto;
    box-shadow: 10px 10px 10px gray;
    background-color: rgb(201, 197, 197);
    transition: 0.2s;
    border: 2px solid rgb(0, 0, 0);
    border-top-left-radius: 20px;
}
.postDark{
    background-color: rgb(31, 70, 36);
    box-shadow: none;
    border: 2px solid gray;
}
.postDark .aDark{
    color: rgb(255, 255, 255);
}
.post a{

    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 10px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
}
.post:hover{
    box-shadow: 10px 10px 10px rgb(56, 56, 56);
    margin-top: 15px;
}
.post a:hover{
    color: grey;
}
.post p{
    padding: 5px;
    color: rgb(56, 56, 56);
}
.post .darkBlogDesc{
    color: rgb(168, 168, 168);
}

@media only screen and(max-width:768px){
    main .post .thumbnail{
        display: block;
    }
}